@model IEnumerable<Product>

@{
    ViewData["Title"] = "Shop For " + ViewData["Category"];
}
<h1>Shop for @ViewData["Category"]</h1>
<ul class="row">
    @foreach (var product in Model)
    {
        <li class="card col-lg-4 text-center h-100 m-1">
            <article class="card-body">
                <h2>@product.Name</h2>
                @if (product.Image == null)
                {
                    <img src="~/img/products/placeholder.png" alt="Product Image" class="thumb" />
                }
                else
                {
                    <img src="~/img/products/@product.Image" alt="Product Image" class="thumb" />
                }
                <p>@string.Format("{0:c}", product.Price)</p>
                <form method="post" action="/Shop/AddToCart">
                    @Html.AntiForgeryToken()
                    <fieldset class="mb-2">
                        <label for="Quantity">Quantity:</label>
                        <input type="number" name="Quantity" min="1" max="9999" />
                    </fieldset>
                    <button class="btn btn-primary">Add to Cart</button>
                    <input type="hidden" name="ProductId" value="@product.ProductId" />
                </form>
            </article>
        </li>
    }
</ul>